  <footer>
    <div class="container-fluid">
    <div class="row pt-5">
      <div class="col pad">
        <h5>Section</h5>
        <ul class="nav flex-column">
          <li class="nav-item mb-2 pt-2"><a href="#" class="nav-link p-0 text-light">Home</a></li>
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-light">Features</a></li>
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-light">Pricing</a></li>
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-light">FAQs</a></li>
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-light">About</a></li>
        </ul>
      </div>

      <div class="col padr">
        <form class="form-inline">
          <h5>Subscribe to our newsletter</h5>
          <p class="pb-4 pt-2">Monthly digest of whats new and exciting from us.</p>
          <div class="d-flex w-100 lh">
            <label for="newsletter1" class="visually-hidden m-1">Email address</label>
            <input id="newsletter1" type="text" class="form-control m-1" placeholder="Email address">
            <button class="btn btn-primary m-1" type="button">Subscribe</button>
          </div>
        </form>
      </div>
    </div>

    <div>
      <p class="text-center py-4">© 2021 Company, Inc. All rights reserved.</p>
    </div>
  </div>
  </footer>
 