{% extends './base.html' %}

{% block content %}
<h1>Crear turno</h1>
{{error}}
<div class="col-md-6 mb-md-0 mb-6">

    {% for message in messages %}
        <div class="alert alert-{{ message.tags }}" role="alert">
            {{ message }}
        </div>
    {% endfor %}
</div>
<form novalidate id="turno-form" name="turno-form" action="{% url 'create' %}" method="POST">
    {% csrf_token %}
<div class="row" >
    {% for campo in turno_form %}
        <div class="col-md-12">
            <div class="md-form mb-0">
                <label for="">{{campo.label}}</label>
                {{campo}}
            </div>
            <div>{{campo.errors}}</div>
        </div>
    {% endfor %}
</div>

<div class="text-center text-md-left mt-3">
    <button class="btn btn-primary" type="submit">Enviar</button>
</div>
</form>

{% endblock %}